
#mapid, #map {
    height: 100%;
    width: 100%;
    display: inline-block;
}
    
.leaflet-control-geocoder-form {
    display: block !important; /* Ensure the form always shows */
}

.home-button {
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    font-size: 16px;
}

.home-button:hover {
    background-color: #f4f4f4;
}

/*adjusting popup content margins in style.css*/
.leaflet-popup-content p {
    margin: 0.2em 0;
}

.legend-control-container {
    padding: 6px 8px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 200px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #555;
}

.legend-content h4 {
    margin: 0 0 5px;
    line-height: 1.25;
}

#temporal-legend {
    font-size: 16px;
}


