
#mapid, #map {
    height: 100%;
    width: 100%;
    display: inline-block;
}
    
.leaflet-control-geocoder-form {
    display: block !important; /* Ensure the form always shows */
}

.home-button {
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    font-size: 16px;
}

.home-button:hover {
    background-color: #f4f4f4;
}

.modal {
    display: block;
    position: fixed; 
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: relative; 
}

@media (max-width: 600px) {
    .modal-content {
        margin: 20% auto; /* Increase top margin on smaller screens */
        width: 95%; /* Make modal wider on smaller screens */
    }
}

button#closeModal {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}


/*adjusting popup content margins in style.css*/
.leaflet-popup-content p {
    margin: 0.2em 0;
}

.legend-control-container {
    padding: 6px 8px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 200px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #555;
}

.legend-content h4 {
    margin: 0 0 5px;
    line-height: 1.25;
}

#temporal-legend {
    font-size: 16px;
}


